h1 {
	font-family: "HelveticaNeue";
	font-size: 50px;
	color: black;
	text-align: center;
	padding-top: 150px;
}

h2 {
	font-family: "HelveticaNeue";
	font-size: 60px;
	color: red;
	text-align: center;
	margin-top: -15px;
	text-shadow: 0px 0px 5px red;
}

h3 {
	text-align: left;
	padding-top: 270px;
}